<div class="full-width-container">
  <div class="container pokeball-cursor">
    <div class="row col-12 mt-4">
      <div class="row">
        <div class="col-6">
          <div class="row col-12 justify-content-center">
            <div class="col-8">
              <mat-dialog-content>
                <app-poke-card
                  [pokemon]="selectFirstPokemon"
                  [first]="true"
                ></app-poke-card>
              </mat-dialog-content>
            </div>
            <div class="row col-12 justify-content-center">
              <div
                class="col-6"
                *ngIf="resultFigth && objectResultFigth?.ganador !== 2"
              >
                <ng-container
                  *ngTemplateOutlet="
                    loseWin;
                    context: {
                      loseWin: objectResultFigth?.ganador == 0
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row col-12 justify-content-center">
            <div class="col-8">
              <mat-dialog-content>
                <app-poke-card
                  [pokemon]="selectSecondPokemon"
                  [title]="msgOnView.INFORMATIO_POKEMON.secondPokemon"
                ></app-poke-card>
              </mat-dialog-content>
            </div>
            <div class="row col-12 justify-content-center">
              <div
                class="col-6"
                *ngIf="resultFigth && objectResultFigth?.ganador !== 2"
              >
                <ng-container
                  *ngTemplateOutlet="
                    loseWin;
                    context: {
                      loseWin: objectResultFigth?.ganador == 1 ? true : false
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 mt-2 mb-4">
          <div class="row col-12 justify-content-center">
            <div class="col-3" *ngIf="figth" (click)="figthValidation()">
              <img
                class="mx-auto"
                width="350px"
                height="200px"
                [src]="msgOnView.IMG.figth"
                style="background-color: transparent"
              />
              <h1 class="text-center text-figth">
                {{ msgOnView.INFORMATIO_POKEMON.clickOnTheImage }}
              </h1>
            </div>

            <div
              class="col-4"
              *ngIf="resultFigth && objectResultFigth?.ganador == 2"
            >
              <img
                class="mx-auto"
                width="400px"
                height="250px"
                [src]="msgOnView.IMG.draw"
                style="background-color: transparent"
              />
            </div>
          </div>
        </div>
        <div
          class="col-12 mt-2 mb-4 d-flex justify-content-center"
          *ngIf="objectResultFigth"
        >
          <button
            (click)="cleanGame()"
            style="margin-right: 5px"
            class="btn-block text-information"
            mat-raised-button
          >
           {{ 'playAgain' | translate }}
          </button>
          <button
            (click)="openDialogPokemon(null, 1)"
            style="margin-left: 5px"
            class="btn-block text-information"
            mat-raised-button
          >
           {{ 'battleInfo' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="row col-12 mt-4 mb-2">
      <div class="col-4 justify-content-center">
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="searchTerm"
            class="form-control"
            placeholder="{{ 'filterPokemon' | translate }}"

            (keyup)="onSearch(searchTerm)"
            maxlength="10"
            (keyup)="onSearch(searchTerm)"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <mat-paginator
        (page)="handlePageEvent($event)"
        class="mt-2 mb-4"
        [length]="length"
        [pageSize]="50"
        [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page"
      >
      </mat-paginator>
      <div class="col-12">
        <ng-container
          *ngTemplateOutlet="
            templateArrayPokemon;
            context: { pokemones: lstPokemonesFilter }
          "
        ></ng-container>
      </div>

      <ng-template #templateArrayPokemon let-pokemones="pokemones">
        <div class="row justify-content-center">
          <div
            style="margin: 5px; transform: skew(-10deg)"
            *ngFor="let pokemon of pokemones"
            class="col-1"
          >
            <img
              (click)="selectPokemon(pokemon)"
              (mouseenter)="validateMouseenter(pokemon)"
              (mouseleave)="pokemonMouseOver = null"
              [ngClass]="getStyle(pokemon)"
              height="90px"
              width="90px"
              [src]="pokemon.sprites.front_default"
            />

            <span
              *ngIf="selectFirstPokemon && selectFirstPokemon.id == pokemon.id"
              class="image-label"
              style="transform: skew(-10deg)"
              >1P</span
            >
            <span
              *ngIf="
                selectSecondPokemon && selectSecondPokemon.id == pokemon.id
              "
              class="image-label"
              style="transform: skew(-10deg)"
              >2P</span
            >

            <p    class="pokemon-name"
            [routerLink]="['/pokemon']"
            [queryParams]="{ id: pokemon.id }" (click)="pokemonSound(pokemon)">
              {{ pokemon.name | titlecase }}
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template #infoPokemon>
   
        <div
          class="container"
          style="overflow: auto;background: #101414; color: white;padding: 10px;"
          *ngIf="resultsViewInformation"
        >
      
          <div class="row col-12">
            <h2 >
              {{ msgOnView.INFORMATIO_POKEMON.infoPokemonBatlle }}
            </h2>
            <p>{{ msgOnView.INFORMATIO_POKEMON.explaination }}</p>
            <div class="col-12">
              <h4>
                <strong>{{ selectFirstPokemon.name | titlecase }}</strong>
              </h4>
              <mat-chip-listbox>
                <mat-chip *ngFor="let type of selectFirstPokemon?.types">
                  {{ type.type.name | titlecase }}
                </mat-chip>
              </mat-chip-listbox>
              <ng-container
                *ngTemplateOutlet="
                  tableResults;
                  context: {
                    dataTable:
                      this.selectFirstPokemon?.damage_relationOverPokemonEnemy
                  }
                "
              ></ng-container>
              <h4>
                {{ msgOnView.INFORMATIO_POKEMON.puntuation }}:
                {{ objectResultFigth?.accumulateFirstPokemon }}
              </h4>
            </div>
            <div class="col-12">
              <h4>
                <strong>{{ selectSecondPokemon.name | titlecase }}</strong>
              </h4>
              <mat-chip-listbox>
                <mat-chip *ngFor="let type of selectSecondPokemon.types">
                  {{ type.type.name | titlecase }}
                </mat-chip>
              </mat-chip-listbox>
              <ng-container
                *ngTemplateOutlet="
                  tableResults;
                  context: {
                    dataTable:
                      this.selectSecondPokemon.damage_relationOverPokemonEnemy
                  }
                "
              ></ng-container>
              <h4>
                {{ msgOnView.INFORMATIO_POKEMON.puntuation }}:
                {{ objectResultFigth?.accumulateSecond }}
              </h4>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="col-12 row">
            <h1 *ngIf="objectResultFigth?.ganador == 2">
              {{ msgOnView.INFORMATIO_POKEMON.resultOfBattle }}:
              {{ msgOnView.INFORMATIO_POKEMON.draw }}
            </h1>
            <h1 *ngIf="objectResultFigth?.ganador == 0">
              {{ msgOnView.INFORMATIO_POKEMON.winnerIs }}:
              {{ selectFirstPokemon?.name | titlecase }}
            </h1>
            <h1 *ngIf="objectResultFigth?.ganador == 1">
              {{ msgOnView.INFORMATIO_POKEMON.winnerIs }}:
              {{ selectSecondPokemon.name | titlecase }}
            </h1>
          </div>

          <div class="row d-flex justify-content-end mt-2">
            <div class="col-2">
              <button
                style="background-color: rgb(245, 36, 36) !important"
                mat-raised-button
                type="button"
                (click)="cerrarInfoPokemon()"
                color="primary"
                class="pull-right"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #loseWin let-loseWin="loseWin">
        <img
          *ngIf="loseWin"
          class="mx-auto"
          width="280px"
          height="200px"
          [src]="msgOnView.IMG.win"
          style="background-color: transparent"
        />
        <img
          *ngIf="!loseWin"
          class="mx-auto"
          width="200px"
          height="200px"
          [src]="msgOnView.IMG.lose"
          style="background-color: transparent"
        />
      </ng-template>
      <ng-template #tableResults let-dataTable="dataTable">
        <table
          mat-table
          [dataSource]="dataTable"
          matSort
          class="col-12 full-width custom-table"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              {{ msgOnView.INFORMATIO_POKEMON.information }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="width: 33.33%; padding: 5px"
            >
              <p>{{ element.name | titlecase }}</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>
              {{ msgOnView.INFORMATIO_POKEMON.typesPokemon }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="width: 33.33%; padding: 5px"
            >
              <div *ngIf="element.array.length > 0">
                <p *ngFor="let item of element.array" style="display: inline">
                  {{ item.name }}
                </p>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="puntuation">
            <th mat-header-cell *matHeaderCellDef>
              {{ msgOnView.INFORMATIO_POKEMON.puntuation }}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="width: 33.33%; padding: 5px"
            >
              <p>{{ element.value }}</p>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedResults"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedResults"></tr>
        </table>
      </ng-template>
    </div>
  </div>
</div>
