<div class="full-width-container" *ngIf=" this.pokemon">
  <div class="container pokeball-cursor">
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <mat-dialog-content>
      
          <mat-card class="mt-2 mb-2 custom-image-card">

            
            <mat-card-content class="mt-4">
              <div class="row justify-content-center">
                <div class="col-8">
                  <app-poke-card [pokemon]="pokemon" [first]="true"></app-poke-card>

                </div>
                <div class="col-6">
                  <h4 class="mt-1 mb-2">
                    <strong>{{ msgOnView.INFORMATIO_POKEMON.relationDamage }}</strong>
                  </h4>
                  <mat-divider></mat-divider>
                
                  <ng-container
                    *ngTemplateOutlet="
                      tableResults;
                      context: { dataTable: this.pokemon.damage_relation }
                    "
                  ></ng-container>
                </div>
                <div class="col-6">

         
                  <h4 class="mt-1 mb-2">
                    <strong> {{ msgOnView.INFORMATIO_POKEMON.infoPokemon }}</strong>
                  </h4>
                  <table
                    mat-table
                    [dataSource]="dataSourcePokemon"
                    matSort
                    class="col-12 full-width custom-table"
                  >
                    <ng-container matColumnDef="information">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ msgOnView.INFORMATIO_POKEMON.information }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <p>
                          {{ element.stat.name | titlecase }}:
                          {{ element.base_stat }}
                        </p>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ msgOnView.INFORMATIO_POKEMON.description }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <div class="progress">
                          <div
                            #progressBar
                            [ngStyle]="{ 'background-color': element.color }"
                            class="progress-bar"
                            role="progressbar"
                            [style.width]="element.base_stat + 'px'"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                  </table>
                  <mat-divider></mat-divider>

                </div>
             
              </div>
            
            </mat-card-content>
          </mat-card>
        </mat-dialog-content>
      </div>
    </div>
  </div>
</div>
<ng-template #tableResults let-dataTable="dataTable">
  <table
    mat-table
    [dataSource]="dataTable"
    matSort
    class="col-12 full-width custom-table"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ msgOnView.INFORMATIO_POKEMON.information }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        style="width: 33.33%; padding: 5px"
      >
        <p>{{ element.name | titlecase }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>
        {{ msgOnView.INFORMATIO_POKEMON.typesPokemon }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        style="width: 33.33%; padding: 5px"
      >
        <div *ngIf="element.array.length > 0">
          <p *ngFor="let item of element.array" style="display: inline">
            {{ item.name }}
          </p>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="puntuation">
      <th mat-header-cell *matHeaderCellDef>
        {{ msgOnView.INFORMATIO_POKEMON.puntuation }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        style="width: 33.33%; padding: 5px"
      >
        <p>{{ element.value }}</p>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedResults"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedResults"></tr>
  </table>
</ng-template>
