html, body {
    height: 100%;
    margin: 0;
  }
  
  .fondo-pokemon {
    background-image: url('../../../../assets/images/fondo.jpg'); 
    background-size: cover; /* La imagen ocupará toda la pantalla */
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
